<!--[if IE]>
Esto sólo lo ve Internet Explorer
<![endif]-->

{% extends "cabecera.html" %} {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-content-center">
                <div class="error-template">
                    <h1>
                        Servicios Perdidos
                        <h2>
                            404 Not Found</h2>
                        <div class="error-actions">
                            <a href="/" class="btn btn-primary btn-lg"><span
                                    class="glyphicon glyphicon-home"></span>
                                HOME </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}